main.txt
main.elf
main.dep
main.hdep
main.cflags
*.[oa]
*.pyc
*.*~
*.s
*.swp
*.?#?
*.lck
.gitignore
*.pyc
output.map
tags
docs
attic
hardware/*.GBL
hardware/*.GBO
hardware/*.GBP
hardware/*.GBS
hardware/*.GML
hardware/*.GTL
hardware/*.GTO
hardware/*.GTP
hardware/*.GTS
hardware/*.TXT
hardware/*.dri
hardware/*.gpi

